*.F          filter=id
*.h          filter=id
*.in         filter=id
*.mk         filter=id
*.sh         filter=id
*.ksh        filter=id
*.bash       filter=id
makefile     filter=id
Readme       filter=id
*.pl         filter=id
dates        filter=id
cpp_clean    filter=id
sfmakedepend filter=id
substitute   filter=id
*.txt        filter=id
*.dat        filter=id
da_roms.tmp  filter=id
nl_roms.tmp  filter=id
Version      filter=id
